* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #f4f6f8;
    --color-nav: #1f2937;
    --color-aside: #e5e7eb;
    --color-main: #ffffff;
    --color-card: #f9fafb;

    --color-text-light: #ffffff;
    --color-text-dark: #111827;
    --color-accent: #3b82f6;

    --color-shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text-dark);
}


#parent-container {
    display: grid;
    grid-template-columns: 200px 220px 1fr;
    height: 100vh;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-nav);
    color: var(--color-text-light);
    padding: 20px;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.35);
}

nav h1 {
    margin-bottom: 30px;
    font-size: 1.5rem;
}

#list-ul {
    list-style: none;
}

.list-li {
    margin-bottom: 15px;
}

.list-li a {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 1rem;
}

.list-li a:hover {
    color: var(--color-accent);
    text-decoration: underline;
}

.list-li a.active {
    color: var(--color-accent);
    font-weight: bold;
}

.nav-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-footer a{
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 0.9rem;
}

.nav-footer a:hover {
    color: var(--color-accent);
    text-decoration: underline;
}


aside {
    background-color: var(--color-aside);
    padding: 20px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.15);
}

#title-aside {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.paragraph-aside {
    margin-bottom: 10px;
    font-size: 0.95rem;
}

.aside-card {
    background: var(--color-main);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    text-align: center;
}

.aside-card strong {
    font-size: 1.4rem;
    color: var(--color-accent);
}

.alert strong {
    color: #ef4444;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: #d1d5db;
    border-radius: 4px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: var(--color-accent);
}


main {
    background-color: var(--color-main);
    padding: 20px;

    display: flex;
    flex-direction: column;

    height: 100%;
    overflow: hidden;
}

#title-main {
    margin-bottom: 20px;
    font-size: 4rem;
    text-align: center;
    color: var(--color-text-dark);
}


section {
    display: flex;
    flex-direction: column;
    gap: 50px;

    flex: 1;
    min-height: 0;
}

.title-section {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline var(--color-accent);
}


#caja-card {
    display: flex;
    flex-direction: row;
    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
}


.project-card {
    min-width: 250px;
    height: 200px;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 8px var(--color-shadow);
    transition: all 0.3s ease;

    border-radius: 8px;
    border: 1px solid var(--color-nav);
    background-color: var(--color-aside);
}

.project-card:hover {
    box-shadow: 0 4px 8px var(--color-shadow);
    transform: translateY(-5px) scale(1.03);
}

.project-card img {
    width: 50px;
    height: 50px;
}

.project-title,
.project-description {
    text-align: center;
}

.project-title span {
    color: var(--color-accent);
}

.project-description span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-accent);
}


#caja-card::-webkit-scrollbar {
    height: 3px;
}

#caja-card::-webkit-scrollbar-thumb {
    background-color: var(--color-nav);
    /* mismo color que el nav */
    border-radius: 6px;
}

#caja-card::-webkit-scrollbar-track {
    background: transparent;
}

